<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nhom8_LTDD_TraCuuBDS"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAmrrsok92anHPKErTiO2V8oc2KIYgqq8M">
        </meta-data>
        <activity
            android:name=".menu.lookup.lookup_map"
            android:exported="false" />
        <activity
            android:name=".menu.profile.profile_main_setting_activity"
            android:exported="false" />
        <activity
            android:name=".menu.home.home_main_activity"
            android:exported="false"
            android:label="@string/title_activity_home_main"
            android:theme="@style/Theme.Nhom8_LTDD_TraCuuBDS" />
        <activity
            android:name=".menu.lookup.lookup_sreach_activity"
            android:exported="false" />
        <activity
            android:name=".menu.lookup.lookup_main_activity"
            android:exported="false" />
        <activity
            android:name=".menu.login.login_login_Activity"
            android:exported="false" />
        <activity
            android:name=".menu.login.login_main_Activity"
            android:exported="false" />
        <activity
            android:name=".menu.register.register_dieukhoan_activity"
            android:exported="false" />
        <activity
            android:name=".menu.register.register_main_activity"
            android:exported="false" />
        <activity
            android:name=".menu.profile.profile_main_activity"
            android:exported="false" />
        <activity
            android:name=".menu.profile.profile_chinhsua_activity"
            android:exported="false" />
        <activity
            android:name=".menu.profile.Hotro_main"
            android:exported="false" />
        <activity
            android:name=".menu.profile.Lichsutracuu_main"
            android:exported="false" />
        <activity
            android:name=".menu.profile.Thongbao_main"
            android:exported="false" />
        <activity
            android:name=".menu.home.Home_MainActivity"
            android:exported="false">
        </activity>
        <activity android:name=".menu.home.Home_DsTinTucActivity"
            android:exported="false"
            />
        <activity android:name=".menu.home.Home_NewsDetailsActivity"
            android:exported="false"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>